@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#008000;
    --background: #04a0040b;
    --h1:#0080002a;
}

.hidde {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateX(0);
  }
  
.hidd {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .overflo {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.8s ease;
  }
  
  .show{
    opacity: 1;
    transform: scale(1);
  }
.hidden{
    transform: translateY(100px);
    
    transition: transform 1.2s;
    opacity: 0;
    
}


.show{
    transform: translateY(0);
    
    
}
.overflow{
    opacity: 0;
    transition: opacity 2s, transform 1s;
    transform: translateY(100px);
}
.show{
    opacity: 1;
    transform: translateY(0);
}
.icon{
    opacity: 0;
    transform: rotate(60deg);
    transition: transform 2s;
}
.show{
    opacity: 1;
}
.icon{
    animation: rotate-icon 2s infinite;
}


/* Navbar styles */

.navbar {
    display: flex;
    justify-content: left;
    gap: 135px;
    align-items: center;
    background:white;
    color: black;
    padding: auto;
    padding-left: 84px;
    font-family:poppins;
    width: 100%;
    position: fixed;
    margin-top: -103px;
    height: 84px;
    z-index: 1000;

}
.navbar img{
    background: none;        /* Removes background */
    padding: 0;              /* Removes padding */
    margin: 0;               /* Optional: removes margin */
    width: 200px;            /* Resize the logo if needed */
    height: auto;
    object-fit: contain;
    

}


/* Navigation links */

.nav-links {
    list-style: none;
    display: flex;
    gap: 94px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.nav-links a:hover{
    text-decoration: none;
    color: var(--primary);
    font-size: 16px;
}
.menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    display: none;
}


/* Responsive: Hide menu on small screens */
@media(max-width:1200px){
    .navbar {
        display: flex;
        justify-content: left;
        gap: 100px;
        align-items: center;
        background:white;
        color: black;
        padding: auto;
        padding-left: 24px;
        font-family:poppins;
        width: 100%;
        position: fixed;
        margin-top: -103px;
        height: 80px;
        z-index: 1000;
    
    }
    
    .navbar img{
        background: none;        /* Removes background */
        padding: 0;              /* Removes padding */
        margin: 0;               /* Optional: removes margin */
        width: 200px;            /* Resize the logo if needed */
        height: auto;
        object-fit: contain;
        
    
    }
    
    /* Navigation links */
    
    .nav-links {
        list-style: none;
        display: flex;
        gap: 70px;
    }
    
    .nav-links li {
        display: inline;
    }
    
    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
    }
    .nav-links a:hover{
        text-decoration: none;
        color: var(--primary);
        font-size: 16px;
    }
    .menu-btn {
        font-size: 30px;
        background: none;
        border: none;
        color: var(--primary);
        cursor: pointer;
        display: none;
    }
    
}
@media (max-width: 900px) {
    .menu-btn {
        display: block; /* Show menu button */
    }

    .nav-links {
        display: none; /* Hide links*/
        flex-direction: column;
        background:white;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        color: black;
        font-size: 16px;
        gap: 64px;
    }
    
    
    .nav-links.show-menu {
        display: flex; /* Show menu when class is added */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:white;
        color: black;
        padding: 10px 16px;
        margin-left: 0;
        
        
    }
}
@media(max-width:480px){
    .menu-btn {
        display: block; /* Show menu button */
    }

    .nav-links {
        display: none; /* Hide links */
        flex-direction: column;
        background:white;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        color: black;
        font-size: 16px;
        gap: 64px;
    }
    
    
    .nav-links.show-menu {
        display: flex; /* Show menu when class is added */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:white;
        color: black;
        padding: 10px 16px;
        margin-left: 0;
        padding-left: 0px;
        margin-top: -103px;
    }
    .navbar img{
        background: none;        /* Removes background */
        padding: 0;              /* Removes padding */
        margin: 0;               /* Optional: removes margin */
        width: 160px;            /* Resize the logo if needed */
        height: auto;
        object-fit: contain;
        
        
    
    }
}

/* solutions*/
 .header{
    display: flex;
    flex-direction: column;
    padding: 0px 124px;
    padding-top: 90px;
    margin-top: 103px;
 }
 .header h3{
    font-size: 14px;
    color: #008000;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    font-weight: 500;
 }
 .flex{
    display: flex;
    flex-direction: row;
    gap: 64px;
 }
 .flex h1{
    width: 65%;
    font-size: 42px;
    letter-spacing: -1.2px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 70px;
 }
 .flexp p{
   color: #3C4049;
   font-family: "Inter", sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: -0.08px;
   margin-bottom: 20px;
   
 }
 .flexp{
    width: 40%;
 }
 .flexp a{
    padding: 8px 16px;
    background-color:var(--h1);
    color: #008000;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
    font-weight: 400;
    font-size: 15px;
 }
 .flexp i{
    padding: 2px 3px;
    border: 1.5px solid #008000;
    border-radius: 100%;
    font-size: 12px;
    
}
.header .ie{
    width: 100%;
    justify-content: center;
    align-items: center;
    place-items: center;
 margin: auto ;
    margin-top: -43px;

}
.header .ie img{
    width: 110%;
    height: 80vh;
    margin-left: -50px;
}
@media(max-width:1200px){
    .header{
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        padding-top: 90px;
        margin-top: 103px;
     }
     .flex{
        display: flex;
        flex-direction: row;
        gap: 48px;
     }
     .flex h1{
        width: 65%;
        font-size: 42px;
        letter-spacing: -1.2px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 60px;
     }
     .flexp p{
       color: #3C4049;
       font-family: "Inter", sans-serif;
       font-size: 18px;
       font-weight: 400;
       line-height: 24px;
       letter-spacing: -0.08px;
       margin-bottom: 20px;
       
     }
     .flexp{
        width: 33%;
     }
}
@media(max-width:900px){
    .header{
        display: flex;
        flex-direction: column;
        padding: 0px 56px;
        padding-top: 20px;
        
     }
     .header h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 400;
     }
     .flex{
        display: flex;
        flex-direction: column;
        gap: 16px;
     }
     .flex h1{
        width:100%;
        font-size: 32px;
        letter-spacing: -1.2px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 50px;
     }
     .flexp p{
       color: #3C4049;
       font-family: "Inter", sans-serif;
       font-size: 17px;
       font-weight: 400;
       line-height: 24px;
       letter-spacing: -0.08px;
       margin: 20px auto;
       margin-top: -40px;
       
     }
     .flexp{
        width: 100%;
     }
     .flexp a{
        padding: 8px 16px;
        background-color:var(--h1);
        color: #008000;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-weight: 400;
        font-size: 15px;
     }
     .flexp i{
        padding: 2px 3px;
        border: 1.5px solid #008000;
        border-radius: 100%;
        font-size: 12px;
        
    }
    .header .ie{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        place-items: center;
     margin: auto ;
        
    
    }
    .header .ie img{
        width: 100%;
        height: 80vh;
    
    }
}
@media(max-width:480px){
    .header{
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
        padding-top: 20px;
        
     }
     .header h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 400;
     }
     .flex{
        display: flex;
        flex-direction: column;
        gap: 16px;
     }
     .flex h1{
        width:100%;
        font-size: 32px;
        letter-spacing: -1.2px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 50px;
     }
     .flexp p{
       color: #3C4049;
       font-family: "Inter", sans-serif;
       font-size: 17px;
       font-weight: 400;
       line-height: 24px;
       letter-spacing: -0.08px;
       margin: 20px auto;
       margin-top: -40px;
       
     }
     .flexp{
        width: 100%;
     }
     .flexp a{
        padding: 8px 16px;
        background-color:var(--h1);
        color: #008000;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-weight: 400;
        font-size: 15px;
     }
     .flexp i{
        padding: 2px 3px;
        border: 1.5px solid #008000;
        border-radius: 100%;
        font-size: 12px;
        
    }
    .header .ie{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        place-items: center;
     margin: auto ;
        
    
    }
    .header .ie img{
        width: 100%;
        height: 60vh;
        margin: auto;
        margin-top: 16px;
    
    }
}




/* climate Section*/
.climate{
    display: flex;
    flex-direction: row;
    padding: 12px 124px;
    gap: -5%;
    align-items: center;
    margin: auto;
    padding-bottom: 95px;
    background-color: var(--background);
    
}
.climate .content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    
}
.climate .content p{
    color: #3C4049;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.08px;
    margin-bottom: 17px;
    line-height: 24px;
    
}
.content h1{
    width: 70%;
    font-size: 32px;
    letter-spacing: -1.2px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    

}
.climate .content h3{
    font-size: 14px;
    color: #008000;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    font-weight: 400;
 
}
.climate .content .items p{
    font-size: 14px;
    color: black;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    margin-bottom: 24px;
    align-items: center;
    font-weight: 500;
    place-items: center;
    
}
.climate .content .items p img{
    margin-top: -30px;
}
.climate .content .items a{
    padding: 8px 16px;
    background-color: #008000;
    color:white;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    
    
}
.climate .content i{
    padding: 2px 3px;
    border: 1.5px solid white;
    border-radius: 100%;
    font-size: 10px;
    
}
.climate .image{
    width: 35%;
}
.climate .image img{
    width: 100%;
}
@media(max-width:1200px){
    .climate{
        display: flex;
        flex-direction: row;
        padding: 12px 70px;
        gap: -5%;
        align-items: center;
        margin: auto;
        padding-bottom: 95px;
        background-color: var(--background);
        
    }
    .climate .content .items a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
        
        
    }
}
@media(max-width:900px){
    .climate{
        display: flex;
        flex-direction: column;
        padding: 56px 56px;
        gap: 5%;
        align-items: center;
        margin: auto;
        padding-bottom: 95px;
        background-color: var(--background);
        
    }
    .climate .content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width:90%;
        
    }
    .climate .content p{
        color: #3C4049;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.08px;
        margin-bottom: 17px;
        line-height: 24px;
        
    }
    .content h1{
        width: 100%;
        font-size: 28px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        
    
    }
    .climate .content h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 400;
     
    }
    
    .climate .content .items p{
        font-size: 14px;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        align-items: center;
        font-weight: 500;
        place-items: center;
        
    }
    .climate .content .items p img{
        margin-top: -30px;
    }
    .climate .content .items a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
        
        
    }
    .climate .content i{
        padding: 2px 3px;
        border: 1.5px solid white;
        border-radius: 100%;
        font-size: 10px;
        
    }
    .climate .image{
        width: 80%;
        
        height: 60vh;
    }
    .climate .image img{
        width: 80%;
        height: 60vh;
    }
}
@media(max-width:600px){
    .climate .image{
        width: 80%;
        
        height: 60vh;
    }
    .climate .image img{
        width: 90%;
        height: 60vh;
    }
    .climate .content .items a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        
        
    }
}

@media(max-width:480px){
    .climate{
        display: flex;
        flex-direction: column;
        padding: 56px 16px;
        gap: 5%;
        align-items: center;
        margin: auto;
        padding-bottom: 95px;
        background-color: var(--background);
        
    }
    .climate .content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width:90%;
        
    }
    .climate .content p{
        color: #3C4049;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.08px;
        margin-bottom: 17px;
        line-height: 24px;
        
    }
    .content h1{
        width: 100%;
        font-size: 28px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        
    
    }
    .climate .content h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 400;
     
    }
    
    .climate .content .items p{
        font-size: 14px;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        align-items: center;
        font-weight: 500;
        place-items: center;
        
    }
    .climate .content .items p img{
        margin-top: -30px;
    }
    .climate .content .items a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        
        
    }
    .climate .content i{
        padding: 2px 3px;
        border: 1.5px solid white;
        border-radius: 100%;
        font-size: 10px;
        
    }
    .climate .image{
        width: 90%;
        
        height: 50vh;
    }
    .climate .image img{
        width: 100%;
        height: 50vh;
    }
}
/* livestock*/
.livestock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 95px 124px;
    gap: 48px;
    align-items: center;
    background-color: white;
}
.growth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 95px 124px;
    gap: 48px;
    align-items: center;
    background-color: var(--background);
}
.farm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 95px 124px;
    gap: 48px;
    align-items: center;
    background-color: white;
}
.custom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 95px 124px;
    gap: 48px;
    align-items: center;
    background-color: var(--background);
}

 h1{
    
    font-size: 32px;
    letter-spacing: -1.2px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}
 h3{
    font-size: 14px;
    color: #008000;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    font-weight: 500;
}
 .content p{
    color: #3C4049;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.08px;
    margin-bottom: 17px;
    line-height: 24px;
    
}
.content .item p{
    font-size: 14px;
    color: black;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    margin-bottom: 24px;
    align-items: center;
    font-weight: 500;
    place-items: center;
}
 .content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 55%;
}
 .image{
    width: 35%;
}
 .image img{
    width: 100%;
    
}
 .content a{
    padding: 8px 16px;
    background-color: #008000;
    color:white;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 500;
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
 .content i{
    padding: 2px 3px;
    border: 1.5px solid white;
    border-radius: 100%;
    font-size: 10px;
    
}
@media(max-width:1200px){
    .livestock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 95px 70px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .growth{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 95px 70px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    .farm{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 95px 70px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .custom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 95px 70px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    .content a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
    
}
@media(max-width:900px){
    .livestock{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 95px 56px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .growth{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 95px 56px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    .farm{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 95px 56px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .custom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 95px 56px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    
     h1{
        
        font-size: 30px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    }
     h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 500;
    }
     .content p{
        color: #3C4049;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.08px;
        margin-bottom: 17px;
        line-height: 24px;
        
    }
    .content .item p{
        font-size: 14px;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        align-items: center;
        font-weight: 500;
        place-items: center;
    }
     .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
     .image{
        width: 80%;
    }
     .image img{
        width: 80%;
        height: 60vh;
    }
     .content a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
     .content i{
        padding: 2px 3px;
        border: 1.5px solid white;
        border-radius: 100%;
        font-size: 10px;
     }    
}
@media(max-width:600px){
    .content a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
    .image{
        width: 80%;
    }
     .image img{
        width: 90%;
        height: 60vh;
    }
}
@media(max-width:480px){
    .livestock{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 95px 16px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .growth{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 95px 16px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    .farm{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 95px 16px;
        gap: 48px;
        align-items: center;
        background-color: white;
    }
    .custom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 95px 16px;
        gap: 48px;
        align-items: center;
        background-color: var(--background);
    }
    
     h1{
        
        font-size: 28px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    }
     h3{
        font-size: 14px;
        color: #008000;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        font-weight: 500;
    }
     .content p{
        color: #3C4049;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.08px;
        margin-bottom: 17px;
        line-height: 24px;
        
    }
    .content .item p{
        font-size: 14px;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        align-items: center;
        font-weight: 500;
        place-items: center;
    }
     .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
     .image{
        width: 90%;
        height: 50vh;
    }
     .image img{
        width: 100%;
        height: 50vh;
    }
     .content a{
        padding: 12px 16px;
        background-color: #008000;
        color:white;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
     .content i{
        padding: 2px 3px;
        border: 1.5px solid white;
        border-radius: 100%;
        font-size: 10px;
     }    
}
/* pre footer*/
.pre-footer{
    margin: 163px 124px;
    display: flex;
    background-color: #008000;
    padding: 80px 80px;
    align-items: center;
    border-radius: 16px;
    color: white;
    
}
.pre-footer .content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.pre-footer .content h1{
    width: 100%;
    font-size: 32px;
    letter-spacing: -1.2px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;

}
.pre-footer p{
    font-size: 14px;
    color: white;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08px;
    margin-bottom: 24px;
    font-weight: 300;
    width: 85%;
}
.pre-footer .content a{
    padding: 12px 8px;
    background-color: white;
    color:black;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 24px;
    width: 43%;
    margin-top: -12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pre-footer .content a i{
    padding: 2px 3px;
    border: 1.5px solid black;
    border-radius: 100%;
    font-size: 12px;
}
.pre-footer .content{
    width: 60%;
}
.pre-footer .image{
    width: 40%;
}
.pre-footer .image img{
    width: 100%;
}
@media(max-width:1200px){
    .pre-footer{
        margin: 150px 70px;
        display: flex;
        background-color: #008000;
        padding: 60px 60px;
        align-items: center;
        border-radius: 16px;
        color: white;
        
    }
    .pre-footer .content{
        width: 55%;
    }
    .pre-footer .image{
        width: 45%;
    }
    .pre-footer .image img{
        width: 100%;
    }
    .pre-footer .content a{
        padding: 12px 8px;
        background-color: white;
        color:black;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 24px;
        width: 50%;
        margin-top: -12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media(max-width:900px){
    .pre-footer{
        margin: 163px 56px;
        display: flex;
        background-color: #008000;
        padding: 40px 40px;
        align-items: center;
        border-radius: 16px;
        color: white;
        flex-direction: column;
        
    }
    .pre-footer .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .pre-footer .content h1{
        width: 100%;
        font-size: 28px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    
    }
    .pre-footer p{
        font-size: 14px;
        color: white;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        font-weight: 300;
        width: 100%;
    }
    .pre-footer .content a{
        padding: 12px 8px;
        background-color: white;
        color:black;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 24px;
        width: 40%;
        margin-top: -12px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .pre-footer .content a i{
        padding: 2px 3px;
        border: 1.5px solid black;
        border-radius: 100%;
        font-size: 12px;
    }
    .pre-footer .content{
        width: 100%;
    }
    .pre-footer .image{
        width: 90%;
        margin-top: 40px;
    }
    .pre-footer .image img{
        width: 100%;
        height: 50vh;
    }
    
}
@media(max-width:700px){
    .pre-footer .content a{
        padding: 12px 8px;
        background-color: white;
        color:black;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 24px;
        width: 70%;
        margin-top: -12px ;
        
    }
    .pre-footer .content a i{
        padding: 2px 3px;
        border: 1.5px solid black;
        border-radius: 100%;
        font-size: 12px;
    }
}
@media(max-width:480px){
    .pre-footer{
        margin: 80px 16px;
        display: flex;
        background-color: #008000;
        padding: 40px 32px;
        align-items: center;
        border-radius: 16px;
        color: white;
        flex-direction: column;
        
    }
    .pre-footer .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .pre-footer .content h1{
        width: 100%;
        font-size: 28px;
        letter-spacing: -0.08px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    
    }
    .pre-footer p{
        font-size: 14px;
        color: white;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08px;
        margin-bottom: 24px;
        font-weight: 300;
        width: 100%;
    }
    .pre-footer .content a{
        padding: 12px 8px;
        background-color: white;
        color:black;
        text-decoration: none;
        list-style: none;
        font-family: "Inter", sans-serif;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 24px;
        width: 90%;
        margin-top: -12px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto ;
    }
    .pre-footer .content a i{
        padding: 2px 3px;
        border: 1.5px solid black;
        border-radius: 100%;
        font-size: 12px;
    }
    .pre-footer .content{
        width: 100%;
    }
    .pre-footer .image{
        width: 100%;
        margin-top: 40px;
    
        height: 30vh;
    }
    .pre-footer .image img{
        width: 100%;
        height: 30vh;
    }
    
}
/*footer*/
footer{
    background-color: black;
    padding: 120px 226px;
    color: white;
    margin-top: -12px;
}
.first_column{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-bottom: 56px;
}
.company_details{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.company_details img{
    background: none;        /* Removes background */
    padding: 0;              /* Removes padding */
    margin: 0;               /* Optional: removes margin */
    width: 200px;            /* Resize the logo if needed */
    height: auto;
    object-fit: contain;

}
.company_details p{
    font-family: "Inter", sans-serif;
    font-size: 14.5px;
    color: #9EA2AD;
    letter-spacing: -0.08px;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 8px;

}
.info p{
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 32px;
    padding: 12px;
}
.your_mail{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}
.your_mail p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
form{
    background-color: black;
    
    
}
input{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.043);
    padding: 12px;
    width: 270px;
}
input:hover{
    border: 1px solid #008000;
}
.your_mail button{
    background-color: #008000;
    border: none;
    font-weight: bold;
    color: white;
    padding: 12px 24px;
    border-radius: 32px;

}
footer hr{
   background-color: #008000;
   height: 1px;
   border: none;
}
.third_column{
    margin-top: 56px;
    display: flex;
    flex-direction: row;

}
.third_column .icons{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 50%;
}
.third_column .items{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.third_column .products a{
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  color:#9EA2AD;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.third_column .products li{
    list-style: none;
    font-size: 14px;
    margin: 20px auto;
}
.third_column .products h3{
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: white;
}
.fourth_column{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 56px;
    justify-content: right;
    text-align: right;
    font-weight: 200;
}
@media(max-width:1200px){
    footer{
        background-color: black;
        padding: 120px 80px;
        color: white;
    }
}
@media(max-width:900px){
    footer{
     background-color: black;
     padding:60px 56px;
     color: white;
     width: 100%;
 }
 .first_column{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 56px;
 }
 .company_details{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 12px;
 }
 .company_details img{
    background: none;        /* Removes background */
    padding: 0;              /* Removes padding */
    margin: 0;               /* Optional: removes margin */
    width: 200px;            /* Resize the logo if needed */
    height: auto;
    object-fit: contain;
 
 }
 .company_details p{
     font-family: "Inter", sans-serif;
     font-size: 15px;
     color: #9EA2AD;
     letter-spacing: -0.08px;
 }
 .info{
     display: flex;
     flex-direction: row;
     gap: 8px;
 
 }
 .info p{
     border: 1px solid rgba(255, 255, 255, 0.13);
     border-radius: 32px;
     padding: 12px;
 }
 .your_mail{
     display: flex;
     flex-direction: column;
     gap: 16px;
     width: 100%;
 }
 .your_mail p{
     font-family: "Inter", sans-serif;
     font-size: 14px;
 }
 form{
     background-color: black;
     
     
 }
 input{
     background-color: black;
     border: 1px solid rgba(255, 255, 255, 0.043);
     padding: 12px;
     width: 100%;
 }
 input:hover{
     border: 1px solid #008000;
 }
 .your_mail button{
     background-color: #008000;
     border: none;
     font-weight: bold;
     color: white;
     padding: 12px 24px;
     border-radius: 32px;
     width: 50%;
     align-items: center;
     margin: auto;
 
 }
 footer hr{
    background-color: #008000;
    height: 1px;
    border: none;
 }
 .third_column{
     margin-top: 56px;
     display: flex;
     flex-direction: column;
     gap: 48px;
 
 }
 .third_column .icons{
     display: flex;
     flex-direction: row;
     gap: 24px;
     width: 100%;
 }
 .third_column .items{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
 
     
 }
 
 .third_column .products a{
   display: flex;
   flex-direction: column;
   gap: 8px;
   text-decoration: none;
   color:#9EA2AD;
   list-style: none;
   font-family: "Inter", sans-serif;
   font-size: 14px;
   font-weight: 300;
 }
 .third_column .products li{
     list-style: none;
     font-size: 14px;
     margin: 20px auto;
 }
 .third_column .products h3{
     margin-bottom: 12px;
     font-family: "Inter", sans-serif;
     font-size: 14px;
 }
 .fourth_column{
     font-family: "Inter", sans-serif;
     font-size: 14px;
     margin-top: 56px;
     justify-content: left;
     text-align: left;
     font-weight: 200;
 
 }
 }
@media(max-width:480px){
    footer{
     background-color: black;
     padding:60px 16px;
     color: white;
     width: 100%;
 }
 .first_column{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 56px;
 }
 .company_details{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 12px;
 }
 .company_details img{
    background: none;        /* Removes background */
    padding: 0;              /* Removes padding */
    margin: 0;               /* Optional: removes margin */
    width: 170px;            /* Resize the logo if needed */
    height: auto;
    object-fit: contain;
 
 }
 .company_details p{
     font-family: "Inter", sans-serif;
     font-size: 14px;
     color: #9EA2AD;
     letter-spacing: -0.08px;
 }
 .info{
     display: flex;
     flex-direction: column;
     gap: 8px;
 
 }
 .info p{
     border: 1px solid rgba(255, 255, 255, 0.13);
     border-radius: 32px;
     padding: 12px;
 }
 .your_mail{
     display: flex;
     flex-direction: column;
     gap: 16px;
     width: 100%;
 }
 .your_mail p{
     font-family: "Inter", sans-serif;
     font-size: 14px;
 }
 form{
     background-color: black;
     
     
 }
 input{
     background-color: black;
     border: 1px solid rgba(255, 255, 255, 0.043);
     padding: 12px;
     width: 100%;
 }
 input:hover{
     border: 1px solid #008000;
 }
 .your_mail button{
     background-color: #008000;
     border: none;
     font-weight: bold;
     color: white;
     padding: 12px 24px;
     border-radius: 32px;
     width: 70%;
     align-items: center;
     margin: auto;
 
 }
 footer hr{
    background-color: #008000;
    height: 1px;
    border: none;
 }
 .third_column{
     margin-top: 56px;
     display: flex;
     flex-direction: column;
     gap: 48px;
 
 }
 .third_column .icons{
     display: flex;
     flex-direction: row;
     gap: 24px;
     width: 100%;
 }
 .third_column .items{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
 
     
 }
 
 .third_column .products a{
   display: flex;
   flex-direction: column;
   gap: 8px;
   text-decoration: none;
   color:#9EA2AD;
   list-style: none;
   font-family: "Inter", sans-serif;
   font-size: 14px;
   font-weight: 300;
 }
 .third_column .products li{
     list-style: none;
     font-size: 14px;
     margin: 20px auto;
 }
 .third_column .products h3{
     margin-bottom: 12px;
     font-family: "Inter", sans-serif;
     font-size: 14px;
 }
 .fourth_column{
     font-family: "Inter", sans-serif;
     font-size: 14px;
     margin-top: 56px;
     justify-content: left;
     text-align: left;
     font-weight: 200;
 
 }
 }